<%= form_tag sessions_path, class:'auth-form-body mt-3' do |f|%>
    <div class="col-lg-12 mb-6">
      <%=label_tag :email %><br>
      <%=text_field_tag :email%><br>
    </div>
    <div class="col-lg-12 mb-6">
      <%=label_tag :password%><br>
      <%=password_field_tag :password%><br><br>
    </div>
    <div>
      <%=button_tag :Login,class: "btn btn-info"%><br>
    </div><br>
   <div>
     <%= link_to signup_path, class: "btn btn-info" do %>Signup
      <% end %>
   </div>
<%end%>
