<%=form_for @user, class:'auth-form-body mt-3' do |f|%>
  <div class="col-lg-12 mb-6">
    <%= f.label :name%><br>
    <%= f.text_field :name%>
  </div><br>
  <div class="col-lg-12 mb-6">
    <%= f.label :email%><br>
    <%= f.text_field :email%>
  </div><br>
  <div class="col-lg-12 mb-6">
    <%= f.label :password%><br>
    <%= f.password_field :password%>
  </div><br>
  <div class="col-lg-12 mb-6">
    <%= f.label :password_confirmation%><br>
    <%= f.password_field :password_confirmation%><br>
  </div><br>
  <div>
    <%=f.submit "Submit", class: "btn btn-info"%>
  </div>
<%end%>
