<div class="container">

  <div class="title">
    <h1>Welcome <%= @customer.name %></h1>
  </div>

  <div id="customer" class= "bug auth-form-body mt-3">
    <%if params[:type] == nil%>
      <div>
        <% if @customer.bugs.length >= 1 %>
          <%= link_to bugs_path, class: "btn btn-info" do %>My Bugs
          <% end %>
        <%else%>
          No Complaints open
        <% end %>
      </div><br>
      <div>
        <% if @customer.customer_services.length >= 1 %>
          <%= link_to customer_services_path, class: "btn btn-info" do %>My Customer Service
          <% end %>
        <%else%>
          No Complaints open
        <% end %>
      </div><br>
      <p>Choose a complaint type</p>
      <%= form_tag do |f|%>
        <div>
          <p><%=radio_button_tag "type", '0'%>
          <%= label_tag 'Customer Service'%></p>
        </div>
        <div>
          <p><%=radio_button_tag "type", '1'%>
          <%= label_tag 'Bugs'%></p>
        </div>
        <div>
        <%=submit_tag 'Choose',class: "btn btn-info"%>
      <%end%>
        </div>
      <%elsif params[:type] == '0'%>
      <div>
        <%=render 'customer_service_form'%>
      </div>
      <%elsif params[:type] == '1'%>
      <div>
        <%=render 'bug_form'%>
      </div>
      <%end%>
  </div>
</div>
