

<%if logged_in?.account_type == "employee"%>
  <div class="col-lg-12 mb-6 name">
    <p><%=@bug.task.employee.name%></p>
  </div>
  <div class="bug auth-form-body mt-5">
    <div class="content">
      <div class="b">
        <p>Customer Name: <%= @bug.customer.name%></p>
        <p>Bug Name: <%= @bug.name%></p>
        <p>Bug Description: <%= @bug.description%></p>
      </div>
      <%if @bug.completed == true%>
        <p>Problem Solved</p>
        <p>Solution Description: <%= @bug.solution_description%></p>
        <%= link_to "Back", employee_path(@bug.task.employee)%>
      <%elsif params[:type] == nil%>
        <%= form_tag class: 'auth-form-body mt-3 bug_solve' do |t|%>
        <div class="col-lg-12 mb-6">
          <%=radio_button_tag "type", '1'%>
          <%= label_tag "Solve this Problem?"%><br><br>
        </div>
        <div>
          <%=submit_tag "Submit",class: "btn btn-info"%>
        </div><br><br>
        <div>
          <%= link_to employee_path(@bug.task.employee), class: "btn btn-info" do %>Back
           <% end %>
        </div>
        <%end%>
      <%else%>
      <div class="container">
        <%= render "form"%>
      </div>
      <%end%>
    </div>
    <%elsif logged_in?.account_type == "customer"%>
    <p><%=@bug.customer.name%></p>
    <p>Solution - <%= @bug.solution_description%></p>
    <%= link_to "Back", customer_path(@bug.customer)%>
    <%end%>
  </div>
