<h1><%=@customer_service.name%></h1>
<p><%=@customer_service.description%></p>

<%if logged_in?.account_type == "employee"%>
  <p><%=@customer_service.task.employee.name%></p>
  <%if @customer_service.completed == true%>
    <p>Problem Solved</p>
    <%= @customer_service.solution_description%>
    <%= @customer_service.customer.name%>
    <%= link_to "Back", employee_path(@customer_service.task.employee)%>
  <%elsif params[:type] == nil%>
    <%= form_tag do |t|%>
      <%=radio_button_tag "type", '1'%>
      <%= label_tag "Solve this Problem?"%><br><br>
      <%=submit_tag "Submit"%>
    <%end%><br><br><br>
  <%else%>
    <%= render "form"%>
  <%end%>
  <%elsif logged_in.account_type == "customer"%>
    <p><%=@customer_service.customer.name%></p>
    <p>Solution - <%= @customer_service.solution_description%></p>
    <%= link_to "Back", customer_path(@customer_service.customer)%>
<%end%>
