<!DOCTYPE html>
<html>
  <head>
    <title>BugSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%if logged_in?%>
        <%= link_to 'Log out', logout_path, method: :post%>
      <%else%>
        <%= link_to 'Log in', login_path%>
        <%end%>
    </div>
    <%= yield %>
  </body>
</html>
